.activites {
  background-color: rgb(241, 241, 243);
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.header h1 {
  color: cadetblue;
  margin-left: 20px;
}
.all-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 30px;
  padding-top: 30px;
}
.activity-container {
  /* border: 1px solid brown; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.information-container {
  /* border: 1px solid turquoise; */
  background-color: white;
  margin-left: 50px;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .header img {
    width: 70px;
    height: 70px;
  }
  .header h1 {
    font-size: 1.2rem;
  }
  .activites {
    padding: 10px;
  }
  .all-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .activity-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .information-container {
    margin: 0px;
    width: 90%;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .header img {
    width: 70px;
    height: 70px;
  }
  .activites {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .all-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .activity-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .information-container {
    width: 80%;
    padding-bottom: 30px;
    margin: 0 auto;
  }
}
